/* get fonts from google's api */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

* {
  /* make default text colour grey */
  color: darkgray;
}

/* generic page related css */
body {
  height: 200vh;
  display: grid;
  font-family: 'EB Garamond', serif;
  background-image: url('../images/BG.jpg');
  background-attachment: fixed;
  background-size: cover;
}

/* template layout for all the main article pages  */
#greatRunesContainer , #demigodsContainer, #godsContainer{
  grid-template-areas: 'header header header'
    'offCArticle offCArticle offCArticle'
    'footer footer footer';
  grid-template-columns: auto auto auto;
  grid-template-rows: 80px auto auto;
  row-gap: 50px;
}

/* template layout for the index page, this layout is by default for browsers */
#indexContainer {
  grid-template-areas: 'header header header'
    '. carousel .'
    'vArticle vArticle vArticle'
    'footer footer footer';
  grid-template-columns: auto 640px auto;
  grid-template-rows: 80px 360px auto auto;
  row-gap: 50px;
}

/* template Layout for the catalog page */
#catalogContainer {
  grid-template-areas: 'header header header'
                      '. filter .'
                      'catalog catalog catalog'
                      'footer footer footer';
  grid-template-columns: auto auto auto;
  grid-template-rows: 80px auto auto auto;
  row-gap: 50px;
}

.pageContainer {
  display: grid;
  background-color: rgba(31, 31, 34, 0.65);
  border-radius: 15px;
}

/* layout the header bar as a single line with all items on the right except the Title */
header {
  grid-area: header;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 40px;
  max-height: 80px;
  background-color: rgb(44, 44, 44);
}
/* for tablet view we want to collapse the header bar into a menu */
@media (max-width: 768px) {
  header {
    overflow: hidden;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }

  /* now we can display the dropdown button, copy all the colouring */
  .dropdown .dropbtn {
    display: block;
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(252, 247, 0);
    background-color: inherit;
    padding: 14px 16px;
    font-family: inherit;
    font-size: larger;
    margin: 0;
  }
  /* hide the header links to display when hovering the dropdown */
  #headerLinks {
    display: none;
    position: absolute;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* re colour the dropdown menu links  */
  #headerLinks a {
    float: none;
    color: darkgrey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: rgb(44, 44, 44);
  }
  /* Show the dropdown menu on hover */
  .dropdown:hover #headerLinks {
    display: block;
  }
  /* re-highlight the text on hover for the dropdown links */
  a, h1 {
    color: rgb(252, 247, 0);
  }

}

/* layout the footer with items centralized but split across three lines */
/* this footer is not wider than the carousel and thus will be supported on all devices */
@media (min-width: 600px) {
  footer {
    grid-area: footer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
  }
  footer li {
    list-style: none;
  }
  
  #footerAd {
    text-align: center;
    padding: 30px;
  }
  
  /* make the ad more obvious with brighter colour */
  #footerAd a h2{
    text-align: center;
    color: rgb(252, 247, 0);
  }
  
  footer .address {
    text-align: center;
  }
}




/* hide the menu button unless on tablet */
.dropbtn {
  display: none;
}

/* add colour and animation to the header/footer links */
header a,
footer a {
  display: inline-block;
  padding: 0px 20px;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: darkgrey;
}

/* show highlight on mouse hover for links*/
header a:hover,
footer a:hover {
  color: rgb(252, 247, 0);
}

/* keep the title on the left side of the header */
.title {
  margin-right: auto;
}

/* let the user know the title is also a link back to the main page */
.title :hover {
  transition: all 0.3s ease 0s;
  color: rgb(252, 247, 0);
}

/* CSS for making the revolving carousel on the Index page */
.carousel {
  width: 100%;
  max-width: 640px;
  height: 360px;
  grid-area: carousel;
  position: relative;
  overflow: hidden; /* <=== this hides the other images in the carousel */
  border-radius: 15px;
}

/* general CSS for the individual containers of images in the carousel */
/* add some base animation to make the slides less choppy */
.slide {
  width: 100%;
  max-width: 640px;
  height: 360px;
  position: absolute;
  transition: all 1s;
}

/* css for the images inside the slides */
/* we want to maximize the image size up to the container */
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* css for the navigation buttons on the carousel */
/*  buttons are 40px radius circles  */
.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding-bottom: 5px;
  border: none;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
}

/* small animation on click to let the user know */
.btn:active {
  transform: scale(1.1);
}

/* alignment of the two buttons within the carousel */
.btn-back {
  top: 45%;
  left: 2%;
  /* center the arrow symbol in the button */
  padding-left: 5px;
  padding-top: 4px;
}

.btn-fwd {
  /* center the arrow symbol in the button */
  padding-right: 5px;
  padding-top: 4px;
  /* position the button in the center of the carousel display*/
  top: 45%;
  right: 2%;
}


/* Styling for the verticle articles on the index page*/
.verticalArticleContainer {
  grid-area: vArticle;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px; 
}

/* for tablet view we need to collapse the columns to one and center them*/
@media (max-width: 768px) {
  .verticalArticleContainer {
    grid-area: vArticle;
    display: block;
    column-count: 1;
    column-width: 300;
    margin-left: auto;
    margin-right: 200px;
    
  }
  .articleImageTop {
    margin-top: 20px;
  }

}

/* keep all the articles on one line and constrain them */
.articleImageTop {
  display: block;
  width: 300px;
  padding: 20px;
}
/* change curser to let user know its clickable unlike other articles */
.articleImageTop img:hover{
  cursor: pointer;
}

/* styling for verticle container on most info pages, will contain left and right leaning articles vertically */
.offCenterArticleContainer {
  grid-area: offCArticle;
  padding: 50px;
}

.imageContainer {
  background-color: black;
}

.articleImageTop img {
  width: 300px;
  height: 300px;
}

/* center the image */
.articleImageTop .imageContainer {
   padding: 0;
}

/* Put all info for article on one line */
.articleImageLeft, .articleImageRight {
  margin-top: 30px;
  max-height: 230px;
  padding: 25px;
  display: inline-block;
}

/* allow the image to shown on the left side with text in line to the right */
.articleImageLeft .imageContainer {
  float: left;
}

/* make sure the text doesn't overlap the picture */
.articleImageLeft .description {
  padding-left: 250px;
}

/* allow the image to shown on the right side with text in line to the left */
.articleImageRight .imageContainer {
  float: right;
}

/* make sure the text doesn't overlap the picture */
.articleImageRight .description {
  padding-Right: 250px;
}

.articleImageLeft img, .articleImageRight img {
  width: 200px;
  height: 200px;
}

/* non-page specific effects for articles */
.article {
  /* make sure the articles are visible on the dark background */
  background-color: rgb(44, 44, 44);
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.article:hover {
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.6);
}

/* layout for the image catalog */
.catalogDisplay {
  line-height: 0;
  grid-area: catalog;
  column-count: 4;
  column-gap: 5px;
  padding: 50px;
}
/* for tablet viewer we will reduce the number of columns */
@media (max-width: 768px) {
  .catalogDisplay {
    column-count: 2;
  }
}

.catalogItem {
  width: 250px;
  height: 250px;
  border-radius: 100px;
}

/* make sure the width is mainted for the image gallery but not nessecarily height for style */
.catalogItem img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  margin-bottom:5px; /* to match column gap */
  filter: grayscale(80%); /* adding some flavour to high user view*/
}

.catalogItem img:hover {
  filter: brightness(120%);
}

/* display all the filters in one line */
.filterSelector {
  grid-area: filter;
  display: flex;
  justify-content: center;
}

/* space out the filters nicely so the click space isnt crowded */
.filter {
  margin: 20px;
}
/* not technically a filter but still in the same line so it needs the same spacing */
#showAllContainer {
  margin: 20px;
}
